body {
  background: #ffffff;
  color: #000000 !important;
  font-family: 'Poppins', serif;
}

link {
  display: none;
}

.btn-primary {
  background: #5064bd;
  padding: 10px 20px;

  &:hover {
    background: #3950bb;
  }
}
